 .box {
        border: 5px solid grey;
        height: 100px;
        width: 100px;
        margin: 0;
        flex: 1 0 33%;
        background-size: 100%;
 }

 .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        max-width: 330px;
 }

 header {
        margin: auto;
        text-align: center;
 }