 :root {
        --current-mark: url('./images/circle.png');
 }

 .box {
        border: 5px solid grey;
        height: 100px;
        width: 100px;
        margin: 0;
        flex: 1 0 33%;
        background-size: 100%;
        cursor: pointer;
 }

 .box.x,
 .box.o {
        cursor: not-allowed;
 }

 .box.x {
        background-image: url('./images/cross.png');
 }

 .box.o {
        background-image: url('./images/circle.png');
 }

 .box:hover:not(.x):not(.o) {
        background-image: var(--current-mark);
 }

 .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        max-width: 330px;
 }

 header {
        margin: auto;
        text-align: center;
 }

 #restartButton {
        font-size: 15px;
        background-color: gray;
        border: 3px solid black;
        padding: 3px;
        margin: auto;
        display: flex;
 }

 .winning-message {
        text-align: center;
 }