:root {
       --current-symbol: url('');
}

header {
       margin: auto;
       text-align: center;
}

h2 {
       display: inline-block;
}

.hint.win {
       color: green;
}

.hint.tie {
       color: red;
}

#reset {
       font-size: 1.5em;
}

.container {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       margin: auto;
       max-width: 462px;
}

section div {
       border: 2px solid grey;
       height: 150px;
       width: 150px;
}

.box {
       border: 0;
       height: 150px;
       width: 150px;
       margin: 0;
       flex: 1 0 33%;
       background-size: 150%;
       background-repeat: no-repeat;
       background-position: center;
}

@-webkit-keyframes scaling {
       From {
              -webkit-transform: scale(1);
       }

       To {
              -webkit-transform: scale(1.2);
       }
}

.box.win {
       -webkit-animation: scaling 1s infinite alternate;
}

.box:hover:not(.win):not(.o):not(.x) {
       background-image: var(--current-symbol);
       background-size: 150%;
       background-repeat: no-repeat;
       background-position: center;
       opacity: 0.5;
}

.legend {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       text-align: center;
}

.legend img {
       height: 120px;
       width: 120px;
}